@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 
/* buscar fonte inter no google fontes */


.header {
    width: 100vh;
    height: 136px;
    background-color: #E5F4Ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-weight: bold;
    color: black;
    font-family: Inter, sans-serif;
    font-size: 48px;
    text-align: center;
}
.header__title--blue{
color: #1298F8;
}