@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* buscar fonte inter no google fontes */
:root{
     --cor-primaria:#ffeeb7;
     --cor-secundaria:#ffbebe;
     --cor-action:#48D05F;
}



/* HEADER */
.header {
    width: 100vw;
    height: 20vh;
    /*136px;*/
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__img{
    height: 191px;
    width: 220px;
    position: relative;
    right: 400px;
}

.header__title {
    font-weight: bold;
    color: black;
    font-family: Inter, sans-serif;
    font-size: 48px;
    text-align: center;
    justify-content: center;
    
}

.header__title--blue {
 color:#d4a464;
 font-family:Italiana, sans-serif ;
}

/* MAIN */
main {
    height: 60vh;
    display: flex;
    align-items: center;
    background-image: url(../imagens/pizzaBackground.png );
    background-repeat: no-repeat;
    background-size: cover;



}

.form {
    display: flex;
    flex-direction: column;
    width: 468px;
    height: 264px;
    justify-content: center;
    align-items: center;
    /* gap: 16px; */
    box-shadow: 0px 4px 4px 0px black;
    border-radius: 25px;
    background-color: var(--cor-primaria);
    position: relative;
    left: 100px;

}

.form__input {
    width: 280px;
    height: 24px;
}

.form__btn {
    border-radius: 20px;
    padding: 16px 32px 16px 32px;
    background-color: #399ADE;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px black;
}

.form__btn:hover {

background-color: #e3f59d;
/* background-color: rgba(252, 1, 1,0.75) */
color: #000;
border: 2px solid 
}


.form__btn--action {
    background-color:var(--cor-action);
}

/* FOOTER */
.footer {
    width: 100vw;
    height: 20vh;
    /* 115px;*/
    background-color: var(--cor-primaria);
    display: flex;
    gap: 192px;
    justify-content: center;
    align-items: center;

}

.footer__columns {
    width: 16%;
    text-align: center;
    line-height: 22px;
}

.footer__social-media {
    display: flex;
    flex-direction: column;
    
}

.footer__social-icon {
    text-decoration: none;
    color: black;
    font-size: 24px;
}