@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 
/* buscar fonte inter no google fontes */

/* HEADER */
.header {
    width: 100vw;
    height: 136px;
    background-color: #E5F4Ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-weight: bold;
    color: black;
    font-family: Inter, sans-serif;
    font-size: 48px;
    text-align: center;
}
.header__title--blue{
color: #1298F8;
}

/* FOOTER */
.footer{
width: 100vw;
height: 115px;
background-color: #E5F4Ff;
display: flex;
gap: 192px;
justify-content: center;
align-items: center;

}
.footer__columns{
    width: 16%;
    text-align: center;
}

.footer__social-media{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__social-icon{
text-decoration: none;
color: black ;
font-size: 24px;
}